# Required variables
resource_group_name = "cosmosdb-sample-rg"
ssh_key_file = "~/.ssh/id_rsa"

## VALUES BELOW ARE DEFAULT VALUES. UNCOMMENT AND CHANGE TO OVERRIDE

# location = "eastus"
# vnet_name = "cosmosdb-vnet"
# vnet_cidr = "172.16.0.0/16"
# subnet_name = "cosmosdb-subnet"
# subnet_cidr = "172.16.0.0/20"
# jumpbox_name = "jumpbox"
# jumpbox_admin_name = "azureuser"
# jumpbox_size = "Standard_D2s_v3"
# bastion_public_ip_name = "main-bastion-ip"
# bastion_name = "main-bastion"